body {
  font-family: "Gilroy";
  color: #000000;
}
.conteiner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  height: 116px;
  justify-content: space-around;
  background: #fafafa;
  align-items: center;
}
li {
  display: inline;
  color: black;
  padding: 15px;
}
a:hover {
  color: red;
  text-decoration: none;
}
.link {
  font-size: 1.25vw;
  text-decoration: none;
  color: black;
}
.header-btn {
  color: #f7941e;
  width: 10.42vw;
  height: 2.99vw;
  font-size: 1.25vw;
  border: 1px solid #f7941e;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}
.logo {
  width: 41px;
  height: 39px;
}
.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.h1 {
  font-size: 3.89vw;
}
.p1 {
  font-size: 1.39vw;
}
.h2 {
  font-size: 2.22vw;
}
.section1__btn1 {
  color: white;
  width: 13.89vw;
  height: 4.17vw;
  background: #f7941e;
  border-radius: 0.35vw;
  border: 0;
  font-size: 1.25vw;
  cursor: pointer;
  font-family: inherit;
}
.section1__btn2 {
  color: #f7941e;
  width: 13.89vw;
  height: 4.17vw;
  background: #f1f1f2;
  border-radius: 0.35vw;
  border: 1px solid #f7941e;
  font-size: 1.25vw;
  cursor: pointer;
  font-family: inherit;
}
.section1__1 {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 20px;
}
.p2 {
  font-family: "Gilroy";
  font-size: 1.25vw;
  text-align: center;
}
.h22 {
  text-align: center;
  font-size: 2.22vw;
}
.image1,
.image2 {
  width: 100%;
  max-width: 100%;
}
.section2__grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: 350px;
  justify-content: space-around;
}
.celebration {
  font-size: 1.39vw;
}
.birthday,
.anniversary,
.valentine,
.christmas {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.seemore {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.97vw;
}
.section2__images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #f7941e;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
}
.p1-orangeblock {
  font-weight: bolder;
  font-size: 2.22vw;
}
.p2-orangeblock {
  font-size: 2.22vw;
}
.orangeblock__p {
  display: block;
  justify-self: center;
}
.section3__btn1 {
  color: white;
  width: 13.89vw;
  height: 3.47vw;
  background: #231f20;
  border-radius: 0.35vw;
  border: 0;
  font-size: 1.25vw;
  cursor: pointer;
  font-family: inherit;
}
.section3__btn2 {
  color: black;
  width: 13.89vw;
  height: 3.47vw;
  background: #f7941e;
  border-radius: 0.35vw;
  border: 1px solid black;
  font-size: 1.25vw;
  cursor: pointer;
  font-family: inherit;
}
.section4 {
  margin-top: 50px;
}
.section4_block-1 {
  display: grid;
  grid-template-columns: 27.78vw 53.47vw;
  grid-template-rows: 25.69vw;
  color: #ffffff;
  justify-content: center;
}
.section4__block-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 81.25vw;
  margin: 20px auto;
  gap: 20px;
}
.section4__image {
  width: 100%;
  max-width: 100%;
}
.block_black-p1 {
  font-size: 0.97vw;
}
.block_black-p2 {
  font-size: 3.33vw;
}
.block_black {
  background-color: #000000;
}
.block_white1-p1 {
  font-size: 1.67vw;
  font-weight: bolder;
}
.block_white1-p2 {
  font-size: 1.25vw;
}
.readmore1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  color: white;
}
.readmore2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 0.97vw;
}
.footer__flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.nav__footer1 {
  border-bottom: 1px solid #000000;
}
.year {
  font-size: 0.97vw;
  text-decoration: none;
}
.nav__footer-ul {
  padding: 0;
}
.link__footer {
  font-size: 0.97vw;
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 20px;
  }
  .icons {
    width: 4.95vw;
    height: 4.95vh;
  }
}
